{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/igreja.css' %}">
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Assembléia de Deus em Bonsucesso</span>
        </div>
    </nav>

    <div class="container mt-5">

        <div class="card" style="background-color: #e3f2fd;">
            <div class="card-body">
                Dashboard de visitantes.
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Evangélico</th>
                    <th>Primeira_Vez</th>
                    <th>Origem_Igreja</th>
                    <th>Pastor</th>
                </tr>
            </thead>
    
            <tbody>
                {% for visitante in visitantes %}
                    <tr>
                        <td><a href="{% url 'busca' visitante.id %}">{{ visitante.nome }}</a> </td>
                        <td>{{ visitante.evangelico }}</td>
                        <td>{{ visitante.primeira_vez }}</td>
                        <td>{{ visitante.origem_igreja }}</td>
                        <td>{{ visitante.pastor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/jquery/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>